<h1 style="text-align: center;" class="mt-2">Lista de Productos con Socket</h1>
<h2 style="text-align: center">Agregar un Producto</h2>

{{>form}}

<ul id="ulContainer" style="display: flex; justify-content: space-between; flex-wrap: wrap; width: 80%; position: relative; left: 10%;" >
  {{#each products as |product|}}
  <li id={{product._id}}>
    <div  class="card my-2 mx-2" style="width: 18rem; flex-grow: 1;">
      <img src="{{product.thumbnails}}" class="card-img-top" alt="Imagen ilustrativa" id="imageRealTime">
      <div class="card-body">
        <h5 class="card-title text-center" id="titleRealTime">{{product.title}}</h5>
        <p class="card-text text-center" id="descRealTime">{{product.desc}}</p>
        <p class="card-text text-center pb-2" id="priceRealTime">Price: ${{product.price}}</p>
        <div class="mx-2 mb-2 d-flex justify-content-around">
          <a href="#" class="btn btn-secondary">Buy</a>
          <a href="#" class="btn btn-danger" onclick='eliminateProduct("{{product._id}}")'>Delete</a>
        </div>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

{{>paginationRealTime}}
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io()
  let divContainer = document.getElementById('ulContainer')
  
  socket.on('newProduct', product => {
    let li = document.createElement('li')
    li.setAttribute ('id', product._id)
    li.innerHTML = 
    `<div  class="card my-2 mx-2" style="width: 18rem; flex-grow: 1;">
      <img src="${product.thumbnails}" class="card-img-top" alt="Imagen ilustrativa" id="imageRealTime">
      <div class="card-body">
        <h5 class="card-title text-center" id="titleRealTime">${product.title}</h5>
        <p class="card-text text-center" id="descRealTime">${product.desc}</p>
        <p class="card-text text-center pb-2" id="priceRealTime">Price: $${product.price}</p>
        <a href="#" class="btn btn-secondary">Buy</a>
        <a href="#" class="btn btn-danger" onclick='eliminateProduct("${product._id}")'>Delete</a>
      </div>
    </div>`
    divContainer.appendChild(li)
  })

  socket.on('messageSuccess', data => {
      let error = document.getElementById('errorAlert')
      error.style.color = 'green'
      error.innerText = data
    })

  socket.on('messageError', data => {
    let error = document.getElementById('errorAlert')
    error.style.color = 'red'
    error.innerText = data
  })

  let formProduct = document.getElementById('formProducts')
  let inputTitle = document.getElementById('inputTitle')
  let inputDescription = document.getElementById('inputDescription')
  let inputPrice = document.getElementById('inputPrice')
  let inputCode = document.getElementById('inputCode')
  let inputStock = document.getElementById('inputStock') 

  formProduct.addEventListener('submit', (event) => {
    event.preventDefault()
    event.stopPropagation()
    const newProduct = {
      title: inputTitle.value,
      desc: inputDescription.value,
      price: inputPrice.value,
      code: inputCode.value,
      stock: inputStock.value,
    }
    socket.emit('createProduct', newProduct)
    formProduct.reset()
  })

  function eliminateProduct(data) {
    socket.emit('deleteProduct', data)
    Toastify({
    text: "Producto eliminado con éxito",
    duration: 3000,
    destination: "#",
    className: "toastify",
    newWindow: true,
    close: false,
    gravity: "bottom",
    position: "right",
    stopOnFocus: true,
}).showToast();
  }

  socket.on('errorMessage', data => {
    console.log(data)
  })

  socket.on('refreshPage', data => {

    const productsRefreshed = data
    divContainer.innerHTML = ""
    productsRefreshed.forEach( item => {
      const li = document.createElement("li")
      li.setAttribute ('id', item._id)
      li.innerHTML = `<div  class="card my-2 mx-2" style="width: 18rem; flex-grow: 1;">
        <img src="${item.thumbnails}" class="card-img-top" alt="Imagen ilustrativa" id="imageRealTime">
        <div class="card-body">
        <h5 class="card-title text-center" id="titleRealTime">${item.title}</h5>
        <p class="card-text text-center" id="descRealTime">${item.desc}</p>
        <p class="card-text text-center pb-2" id="priceRealTime">Price: $${item.price}</p>
        <div class="mx-2 mb-2 d-flex justify-content-around">
        <a href="#" class="btn btn-secondary">Buy</a>
        <a href="#" class="btn btn-danger" onclick=eliminateProduct("${item._id}")>Delete</a>
      </div>
      </div>
    </div>`
    divContainer.appendChild(li)
    })
  })
</script>